.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parallax{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/home.jpg');
    height: 170vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height:1200px;
}

.parallax2{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/mountain.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    max-height:400px;
    padding:20px;
}

h1{
    font-size:70px;
    font-weight: bold;
}

h4{
    font-size:30px;
}

h3{
    font-weight: bold;
}

p{
    font-size:20px;
}

.center{
   top:20%;
   left:0%;
   position: relative;
}

.bottom{
    top:31%;
    margin:auto;
    position:relative;
    text-align:left;
    width:425px;
}

.triple{
    top:30%;
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    overflow-x: hidden;
}

.watchImage{
    margin-left:5px;
    margin-right:5px;
    border-radius: 25px;
    width:425px;
    height:590px;
}

.flexBox{
    width:65%;
    margin: auto;
    text-align: left;
    padding:5%;
}

.imageStandard{
    width:100%;
    max-height:50%;
}

.imageHalf{
    width:48%;
    height:310px;
}

@media screen and (max-width:1200px) and (min-width:800px){
    .flexBox{
        width:75%;
    }
}

@media screen and (max-width: 800px) and (min-width: 0px){
    h1{
        font-size: 50px;
    }

    h4{
        font-size: 20px;
    }

    p{
        font-size:15px;
    }

    .watchImage{
        border-radius:15px;
        width:300px;
        height:450px;
    }

    .bottom{
        width:300px;
    }

    .parallax{
        height:140vh;
    }

    .flexBox{
        width:100%;
        min-height:1000px;
    }
}